<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/330800ac-e88e-4d11-bf54-aa10ddf7deed/resourceGroups/neststats2_group/providers/Microsoft.Web/sites/neststats2</ResourceId>
    <ResourceGroup>neststats2_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://neststats2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>eda46754-1dd9-411e-a715-26401c4a7851</ProjectGuid>
    <MSDeployServiceURL>neststats2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>neststats2</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net10.0</TargetFramework>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAuhGbGbd67keXMKBDyBu42QAAAAACAAAAAAAQZgAAAAEAACAAAADtci1icserAt2Lc/K3Z107GEhJE2GSrMhxVHw9jCHThgAAAAAOgAAAAAIAACAAAAAFIRH4hG2PJzzfsz73PXaZMwv8a9OfAZ45hQEbL/wmGiAAAABd9BRD2ZayhY2Dp1riOYU0C26dNKWtQaFCuILl7NMhgUAAAADZXZmba8X+tToFVpaks8Z1qCmDYNObLrdF+pf2nXF/mQRfRuxiYKqrP9vK2YKyU4A2R6mKLgCAVkZh9R1XCMSk</EncryptedPassword>
    <History>False|2026-04-20T01:34:37.0353894Z;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>